<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Secret Notes</h1>
    <p>
      Enter your note here. This note is <strong>never stored on the server</strong>, so it is completely secure!
    </p>

    <textarea id="note"></textarea>

    <script src="note.js"></script>
  </div>
</main>

</body>
</html>